:root {
  --c-white: hsl(0, 0%, 100%);
  --c-stone-100: hsl(30, 54%, 90%);
  --c-stone-150: hsl(30, 18%, 87%);
  --c-stone-600: hsl(30, 10%, 34%);
  --c-stone-900: hsl(24, 5%, 18%);
  --c-brown-800: hsl(14, 45%, 36%);
  --c-rose-50: hsl(330, 100%, 98%);
  --c-rose-800: hsl(332, 51%, 32%);
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Outfit", sans-serif; 
  background-color: var(--c-stone-100);
  color: var(--c-stone-600);
}

main {
  background-color: var(--c-white);
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: var(--fw-400);
}

h2 {
  color: var(--c-brown-800);
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

section {
  padding: 2rem;
}

.recipe-intro h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  line-height: 1;
  color: var(--c-stone-900);
}

.prep {
  background-color: var(--c-rose-50);
  border-radius: 10px;
  margin-inline: 2rem;
  padding: 1rem;
}

.prep h3 {
  color: var(--c-rose-800);
}

.prep ul {
  padding: 0.5rem;
  list-style: none;
}

.prep li {
  display: flex;
  align-items: center;
}

.prep li:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--c-brown-800);
  border-radius: 50%;
}

.prep p {
  margin-left: 1.5rem; 
  margin-block: 0.25rem;
}

.ingredients {
  border-bottom: 1px solid var(--c-stone-150);
  padding-bottom: 2rem; 
}

.ingredients h2 {
  margin-bottom: 1rem;
}

.ingredients ul {
  padding-left: 1rem;
  list-style: none;
}

.ingredients li:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--c-brown-800);
  border-radius: 50%;
  position: absolute;
  top: 50%;
}

.ingredients li {
  position: relative;
  margin-bottom: 0.5rem;
}

.ingredients p {
  margin-left: 1.5rem;
}

.instructions h2 {
  margin-bottom: 1rem;
}

.instructions li {
  margin-left: 1.5rem;
}

.instructions li::marker {
  color: var(--c-brown-800);
  font-weight: var(--fw-700);
}

.instructions p {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.instructions {
  border-bottom: 1px solid var(--c-stone-150);
  padding-bottom: 2rem; 
}

.nutrition h2 {
  margin-bottom: 1rem;
}

.nutrition > p {
  margin-bottom: 1rem;
}

.nutrition div {
  display: flex;
  border-bottom: 1px solid var(--c-stone-150);
}

.nutrition div p {
  flex: 1;
  padding: 0.5rem 1.5rem;
}

.nutrition div p:nth-child(2) {
  color: var(--c-brown-800);
  font-weight: var(--fw-700);
}

.nutrition div:last-of-type {
  border-bottom: none;
}

@media screen and (min-width: 48rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    max-width: 44rem;
    margin-block: 5rem;
    border-radius: 10px;
    padding: 2rem;
  }

  img {
    border-radius: 10px;
  }

  .recipe-intro,
  .prep,
  .ingredients,
  .instructions,
  .nutrition {
    padding-inline: 0;
  }

  .prep {
    margin-inline: 0;
    padding-inline: 1rem;
  }

  .nutrition {
    padding-bottom: 0;
  }
}